@keyframes circling-shadow {
    0%{ filter:
        drop-shadow(-10px -10px 0 var(--accent-color2))
        drop-shadow(10px 10px 0 var(--accent-color));
    }
    25%{ filter:
        drop-shadow(-10px 10px 0 var(--accent-color2))
        drop-shadow(10px -10px 0 var(--accent-color));
    }
    50%{ filter:
        drop-shadow(10px 10px 0 var(--accent-color))
        drop-shadow(-10px -10px 0 var(--accent-color2));
    }
    75%{ filter:
        drop-shadow(10px -10px 0 var(--accent-color))
        drop-shadow(-10px 10px 0 var(--accent-color2));
    }
    100%{ filter:
        drop-shadow(-10px -10px 0 var(--accent-color2))
        drop-shadow(10px 10px 0 var(--accent-color));
    }
}
@keyframes circling-shadow-small {
    0%{ filter:
        drop-shadow(-5px -5px 0 var(--accent-color2))
        drop-shadow(5px 5px 0 var(--accent-color));
    }
    25%{ filter:
        drop-shadow(-5px 5px 0 var(--accent-color2))
        drop-shadow(5px -5px 0 var(--accent-color));
    }
    50%{ filter:
        drop-shadow(5px 5px 0 var(--accent-color))
        drop-shadow(-5px -5px 0 var(--accent-color2));
    }
    75%{ filter:
        drop-shadow(5px -5px 0 var(--accent-color))
        drop-shadow(-5px 5px 0 var(--accent-color2));
    }
    100%{ filter:
        drop-shadow(-5px -5px 0 var(--accent-color2))
        drop-shadow(5px 5px 0 var(--accent-color));
    }
}

@keyframes accordion-hover {
    0% {
        clip: rect(9px, 9999px, 99px, 0);
    }
    100% {
        clip: rect(9px, 9999px, 99px, 0);
   }
}
